body {
    background-color: #F0F0F0; /* Light background color */
}

.box {
    background-color: rgba(255, 255, 255, 0.9); /* White box for content */
}

.header-subtitle {
    color: #4CAF50; /* Grass-like green color for the subtitle */
}

.button {
    background-color: #4CAF50; /* Grass-like green for buttons */
    color: #fff; /* White text color */
}

.button:hover {
    background-color: #45a049; /* Darker green for hover effect */
}

h1, h2, h3 {
    color: #007BFF; /* Soft blue for headings */
}
