/* footer.css */

/* Center content within the footer */
.footer {
    display: flex;
    justify-content: center;  /* Horizontally center content */
    align-items: center;      /* Vertically center content */
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}


.footer p {
    font-size: 1.2em;
    margin: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #45a049;
}
