/* Small Screens */
@media (max-width: 599px) {
    .container {
        grid-template-areas: 
            "hd"
            "main"
            "ft";
    }
    .post-image {
        order: 2;
    }
}

/* Medium Screens */
@media (min-width: 600px) and (max-width: 899px) {
    .container {
        grid-template-areas: 
            "hd"
            "main"
            "ft";
    }
}

/* Large Screens */
@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 100px 1fr 50px;
        grid-template-areas: 
            "hd hd hd hd hd hd hd hd"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
}
